@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Цей сайт розроблено студентками групи ІТ-81 Діною Іовчевою та Кароліною Поспєловою для лабораторних робіт.</p>
</div>
